---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Picture from "astro/components/Picture.astro";
import navLogo from "@assets/nav-logo.png";

const menuitems: {
  title: string;
  path: string;
  children?: [];
  badge?: boolean;
}[] = [
  {
    title: "Αρχική",
    path: "/",
  },
  {
    title: "Υπηρεσίες",
    path: "/#features",
  },
  {
    title: "Προφίλ",
    path: "/about",
  },
  {
    title: "Επικοινωνία",
    path: "/contact",
  },
];
---

<Container>
  <header
    class="mx-2 my-5 flex flex-col items-center justify-between md:mx-20 lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-lg">
          <!-- <span class="font-bold text-slate-800">D</span><span
            class="text-slate-500">Politis</span
          > -->
          <Picture
            src={navLogo}
            class={"h-[40px] w-fit aspect-auto flex"}
            alt="nav logo"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="h-4 w-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex items-center py-2 text-gray-600 hover:text-gray-900 lg:px-3">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 animate-pulse rounded-full bg-indigo-600 px-2 py-0.5 text-[10px] font-semibold uppercase text-white">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
